In [10]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect("database.sqlite")

In [12]:
# create the dataframe from a query
df = pd.read_sql_query("SHOW TABLES", conn)

DatabaseError: Execution failed on sql 'SHOW TABLES': near "SHOW": syntax error

In [3]:
cur = conn.cursor()

In [13]:
cur.execute("SHOW TABLES;")

OperationalError: near "SHOW": syntax error

In [ ]:
results = cur.fetchall()
print(results)