In [1]:
import pandas as pd
import read_mta_turnstile as t
import find_schedule as f

In [2]:
f.find_schedule()

Reading: http://web.mta.info/developers/data/nyct/turnstile/turnstile_180505.txt
Reading: http://web.mta.info/developers/data/nyct/turnstile/turnstile_180512.txt
Reading: http://web.mta.info/developers/data/nyct/turnstile/turnstile_180519.txt
Reading: http://web.mta.info/developers/data/nyct/turnstile/turnstile_180526.txt
Reading: http://web.mta.info/developers/data/nyct/turnstile/turnstile_180602.txt

/Users/liuriguang/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

day_name        Thursday         Tuesday         Wednesday
hour_of_day      Evening Morning Evening Morning   Evening Morning
STATION
14 ST-UNION SQ       1.0     NaN     1.0     NaN       1.0     NaN
18 ST                1.0     NaN     1.0     NaN       1.0     NaN
34 ST-HERALD SQ      1.0     NaN     1.0     NaN       1.0     NaN
34 ST-PENN STA       NaN     1.0     NaN     1.0       NaN     1.0
42 ST-BRYANT PK      1.0     NaN     1.0     NaN       1.0     NaN
47-50 STS ROCK       1.0     NaN     1.0     NaN       1.0     NaN
CANAL ST             1.0     NaN     1.0     NaN       1.0     NaN
TIMES SQ-42 ST       1.0     NaN     1.0     NaN       1.0     NaN