In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import os

athlete_no = '6483989' # Anna Foster
#athlete_no = '3013148' # Carolyn Birkenfeld
athlete_no = '5824213' # Lexi Kyro
url = 'https://www.athletic.net/TrackAndField/Athlete.aspx?AID='+athlete_no+'#!/L0'

response = requests.get(url)

In [2]:
chromedriver = "/usr/local/bin/chromedriver"

os.environ["webdriver.chrome.driver"] = chromedriver

driver = webdriver.Chrome(chromedriver)
driver.get("https://www.athletic.net")
driver.get("https://www.athletic.net/account/login/?ReturnUrl=%2Fdefault.aspx")

%load_ext dotenv
%dotenv
EMAIL = 'adds@silverbeach.com'
#PASSWORD = os.environ.get('PASSWORD')
PASSWORD = 'HappyN0w'
username_form = driver.find_element_by_name("email")
username_form.send_keys(EMAIL) # enter email

username_form.send_keys(Keys.RETURN)
password_form=driver.find_element_by_name("password") # note another approach
password_form.send_keys(PASSWORD) # enter password
password_form.send_keys(Keys.RETURN)

## Using Pandas

In [11]:
header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

r = requests.get(url, headers=header)

dfs = pd.read_html(r.text)

In [12]:
for df in dfs:
    if df[0][0] == '400 Meters':
        all_years = df
        
print(all_years)

              0     1             2
0    400 Meters   NaN           NaN
1  2011 Outdoor  11.0       1:09.00
2  2012 Outdoor  12.0  1:08.68 PR *

In [13]:
dfs[2]

              0     1             2
0    400 Meters   NaN           NaN
1  2011 Outdoor  11.0       1:09.00
2  2012 Outdoor  12.0  1:08.68 PR *

### Pull data for several athletes

Loop over a list of athletes from a csv file and read their 400 Meters numbers

In [4]:
header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

In [5]:
# given a time string, return a float for the time in seconds
def cleantime(time_str):
    time_str = time_str.replace('PR','')
    time_str = time_str.replace('*','')
    time_str = time_str.replace('c','')
    time_str = time_str.replace('h','')

    time_str = time_str.strip()
    if ':' in time_str:
        t = time_str.split(':')
        time = float(t[0])*60 + float(t[1])
    elif time_str.isdigit(): 
        time = float(time_str)
    else: time = np.nan
    return(time)

In [6]:
#file = '/Users/dana/metis/git/Metis_Bootcamp/Luther_Project/athletes.csv'
#file = '/Users/dana/metis/git/Metis_Bootcamp/Luther_Project/athlete_list.csv'
#file = '/Users/dana/metis/git/Metis_Bootcamp/Luther_Project/athlete_list_boy1600.csv'
file = '/Users/dana/metis/git/Metis_Bootcamp/Luther_Project/athlete_list_girl400.csv'

athlete_list = pd.read_csv(file)

In [7]:
# Given a list of athletes, scrap their PR times in the 400Meter race
# and add to dataframe
all_data = athlete_list[['ID','Name','School_ID','School','District']]
all_data = all_data.set_index(['ID'])
all_data['9_PR']  = np.nan
all_data['10_PR'] = np.nan
all_data['11_PR'] = np.nan
all_data['12_PR'] = np.nan
all_data['Grad_Yr'] = 0
all_data.Grad_Yr = all_data.Grad_Yr.astype(int)

In [ ]:
all_data.head()

In [ ]:
all_data.shape

In [8]:
all_data1 = all_data[0:2000]
all_data2 = all_data[2000:4000]
all_data3 = all_data[4000:6000]
all_data4 = all_data[6000:8000]
#all_data5 = all_data[8000:10000]

In [19]:
all_data = all_data4

Event = '400 Meters'
#Event = '1600 Meters'
n = 0
for ID, row in all_data.iterrows():
    ID_str = str(ID)
    url = 'https://www.athletic.net/TrackAndField/Athlete.aspx?AID='+ID_str+'#!/L0'
    r = requests.get(url, headers=header)
    dfs = pd.read_html(r.text)
    for df in dfs:
        if df[0][0] == Event:
            n += 1
            if n%100 == 0: print(n)

            df.drop(df.index[0:1],inplace=True)
            for index, row in df.iterrows():
                if 'Indoor' not in str(row[0]):
                    # print(f"grade {int(row[1])}, time {row[2]}")
                    #row[1]= str(row[1]).replace('-','')
                    g = str(row[1])
                    g = g.replace('-','')
                    g = g.replace('.0','')

                    #print(ID_str,g)
                    if (g == '9' or g == '10' or g == '11' or g == '12'): 
                        #grade = str(int(row[1]))
                        grade = g

                    else:
                        grade = '0'
                    time = cleantime(str(row[2]))
                    # print(grade,time)
                    all_data.at[ID,grade+"_PR"] = time
# find the graduation year
                    if g == '12': 
                        gy = str(row[0])
                        gy = gy.replace(' Outdoor','')
                        all_data.at[ID,'Grad_Yr'] = int(gy)
                        #print(int(gy))

100
200
300
400
500
600
700
800
900
1000

In [20]:
all_data4 = all_data

In [14]:
all_data1

,Name,School_ID,School,District,9_PR,10_PR,11_PR,12_PR,Grad_Yr,0_PR
ID,,,,,,,,,,
133440,Li Murphy,302,Annie Wright,District 9,NaN,NaN,NaN,NaN,2010,NaN
1675244,Olivia Thomas,345,King's,District 8,62.35,NaN,NaN,NaN,2009,NaN
216722,Whitney Leavitt,377,Kiona-Benton,District 5,NaN,NaN,NaN,NaN,2009,NaN
298973,Elise Wilcox,303,Bush,District 9,NaN,NaN,64.24,NaN,0,NaN
319625,Clara Midgley,308,University Prep,District 9,60.36,61.07,60.07,61.88,2011,NaN
339240,Mackenzie Sanders,366,Montesano,District 4,60.47,61.41,61.69,NaN,0,NaN
184213,Mackenna Moore,310,Cascade Christian,District 3,64.61,64.86,61.49,62.79,2010,NaN
831092,Caitlin Fransen,345,King's,District 8,62.02,62.29,64.34,NaN,0,NaN
106382,Taylor Dillard,309,Seattle Academy,District 9,NaN,NaN,62.83,62.18,2009,NaN
120359,Allison Hussey,301,Bellevue Christian,District 3,68.10,NaN,62.34,65.23,2010,NaN
794397,Annie Christie,381,Cascade (Leavenworth),District 6,62.42,63.74,NaN,NaN,0,NaN
138362,Breanna Hemsley,358,Port Townsend,District 3,NaN,NaN,62.64,NaN,0,NaN
138378,Khloe Frank,358,Port Townsend,District 3,NaN,64.54,62.64,61.09,2010,NaN
319654,Winnie Andersen,308,University Prep,District 9,NaN,NaN,62.71,60.78,2010,NaN
304383,Kaylee Carson,382,Cashmere,District 6,NaN,62.87,NaN,NaN,0,NaN
243672,Stephanie Rice,345,King's,District 8,64.43,63.34,64.58,68.43,2011,NaN
215826,Cheyenne Goodsel,323,Columbia (Burbank),District 5,NaN,66.91,65.48,63.38,2009,NaN
195817,Cierra Miller,330,Royal,District 5,NaN,NaN,62.93,63.44,2009,NaN
799753,Jen Rathgerber,371,Stevenson,District 4,64.44,NaN,NaN,NaN,0,NaN
172785,Shelby Wilkerson,369,La Center,District 4,NaN,NaN,71.14,64.44,2009,NaN
359942,Lexi Petersen,312,Seattle Christian,District 3,63.44,64.44,NaN,NaN,0,NaN
831097,Isabelle Quinn,345,King's,District 8,64.61,NaN,NaN,NaN,0,71.04
783231,Savannah Burr,357,Orting,District 3,64.62,64.09,NaN,NaN,0,NaN
344979,Sami McDevitt,345,King's,District 8,64.64,64.15,65.59,NaN,0,69.34
799755,Kali Stump,371,Stevenson,District 4,64.75,NaN,NaN,NaN,0,NaN
296046,Alia Payne,360,Vashon Island,District 3,67.14,64.92,67.44,67.12,2011,NaN
838412,Sierra Keeler,309,Seattle Academy,District 9,NaN,NaN,64.94,NaN,0,NaN
324537,Kaylyn Abenojar,306,Northwest,District 9,NaN,64.94,NaN,NaN,0,NaN
280825,Macy Bottorff,321,Kalama,District 4,NaN,64.96,66.86,67.94,2011,NaN
535959,Bree Oldham,301,Bellevue Christian,District 3,65.04,NaN,62.34,60.79,2012,NaN
...,...,...,...,...,...,...,...,...,...,...
785086,Erika Lombardo,19386,Auburn Mountainview,District 3,NaN,NaN,NaN,61.09,2012,NaN
2928759,Danielle Brandon,544,Kamiakin,District 5,NaN,60.54,61.36,NaN,0,NaN
2563751,Cass Busch,502,Bremerton,District 3,NaN,NaN,NaN,NaN,2012,NaN
2935341,Emily Crichlow,481,Meadowdale,District 8,60.61,NaN,NaN,NaN,0,NaN
2979896,Petra Bethea,401,Sedro-Woolley,District 8,NaN,NaN,61.06,62.42,2012,NaN
380057,Madeline Rathbun,421,Lakeside (Seattle),District 9,NaN,NaN,NaN,61.34,2011,NaN
2927582,Jessy Frey,461,Hanford,District 5,61.37,62.34,NaN,NaN,0,NaN
1991732,Shawna Troupe,446,Kelso,District 4,NaN,61.39,NaN,60.34,2013,NaN
1870981,Madison Garcia,401,Sedro-Woolley,District 8,NaN,62.21,60.01,63.95,2013,NaN
2932659,Hannah Calvert,519,Enumclaw,District 3,NaN,62.28,64.70,63.21,2013,NaN
3005897,Danielle Bogardus,414,Bainbridge,District 9,62.53,61.51,60.54,NaN,0,NaN
2965133,Viktoriya Vasina,19386,Auburn Mountainview,District 3,62.66,66.84,NaN,NaN,0,NaN
2984893,Brianna Kraft,450,Camas,District 4,63.24,NaN,NaN,NaN,0,NaN
840571,Tanya Ponomarev,538,Hudson's Bay,District 4,NaN,NaN,63.47,NaN,0,NaN
2937688,Yasmyn Luzunaris,459,Yelm,District 3,NaN,NaN,NaN,63.74,2011,NaN
1924597,Jacqueline Ines,545,Kennewick,District 5,NaN,64.22,NaN,62.04,2013,NaN
2927577,Rebekah Downen,461,Hanford,District 5,64.35,NaN,NaN,NaN,0,NaN
256007,Adrianna Royal,485,Oak Harbor,District 8,69.32,NaN,NaN,64.43,2011,NaN
802892,Kelly Egge,441,Peninsula,District 3,NaN,NaN,64.46,NaN,0,NaN
2531397,Karley Lawton,459,Yelm,District 3,64.47,64.84,65.94,NaN,0,NaN
2575133,Trisha Patterson,450,Camas,District 4,64.54,69.24,NaN,NaN,0,65.91
3011267,Katherine Baker,22531,Glacier Peak,District 8,64.64,NaN,NaN,NaN,0,NaN
2953036,Ashley Everett,485,Oak Harbor,District 8,NaN,65.47,NaN,67.26,2013,NaN
2575909,Liliya Kot,405,Shorecrest,District 8,NaN,NaN,NaN,65.64,2011,NaN
2927998,Tammy Mach,404,Lynnwood,District 8,66.04,NaN,NaN,NaN,0,NaN
2927983,Grace Douglas,404,Lynnwood,District 8,66.11,61.63,61.79,60.64,2014,NaN
312562,Elisa Ahern,405,Shorecrest,District 8,NaN,NaN,NaN,68.04,2011,NaN
2953032,Rachel Crowther,485,Oak Harbor,District 8,68.48,68.33,69.33,NaN,0,NaN
2927979,Jaci Ciuk,404,Lynnwood,District 8,68.74,NaN,NaN,NaN,0,NaN
2953008,Lizzy Chase,485,Oak Harbor,District 8,NaN,NaN,69.00,68.68,2012,NaN

In [21]:
all_data = pd.concat([all_data1,all_data2,all_data3,all_data4])
#all_data = pd.concat([all_data1,all_data2])

In [ ]:
all_data.columns

In [22]:
#all_data.drop(['8_PR'], axis=1,inplace=True)
#all_data.drop(['7_PR'], axis=1,inplace=True)
all_data.drop(['0_PR'], axis=1,inplace=True)

In [23]:
all_data.dropna(inplace=True)
all_data.dropna().shape

(269, 9)

In [24]:
all_data.to_csv("allDistrict_girl400.csv")

In [25]:
all_data.shape

(269, 9)

In [ ]:
all_data.head()