In [19]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import os

#athlete_no = '6483989' # Anna Foster
#athlete_no = '3013148' # Carolyn Birkenfeld
athlete_no = '1671873' 
url = 'https://www.athletic.net/TrackAndField/Athlete.aspx?AID='+athlete_no+'#!/L0'

response = requests.get(url)

In [5]:
chromedriver = "/usr/local/bin/chromedriver"

os.environ["webdriver.chrome.driver"] = chromedriver

driver = webdriver.Chrome(chromedriver)
driver.get("https://www.athletic.net")
driver.get("https://www.athletic.net/account/login/?ReturnUrl=%2Fdefault.aspx")

%load_ext dotenv
%dotenv
EMAIL = 'adds@silverbeach.com'
#PASSWORD = os.environ.get('PASSWORD')
PASSWORD = 'HappyN0w'
username_form = driver.find_element_by_name("email")
username_form.send_keys(EMAIL) # enter email

username_form.send_keys(Keys.RETURN)
password_form=driver.find_element_by_name("password") # note another approach
password_form.send_keys(PASSWORD) # enter password
password_form.send_keys(Keys.RETURN)

The dotenv extension is already loaded. To reload it, use:
  %reload_ext dotenv

## Using Pandas

In [21]:
header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

r = requests.get(url, headers=header)

dfs = pd.read_html(r.text)

In [22]:
for df in dfs:
    if df[0][0] == '400 Meters':
        all_years = df
        
print(all_years)

              0    1           2
0    400 Meters  NaN         NaN
1  2006 Outdoor    9       52.03
2  2007 Outdoor   10     49.86 *
3  2008 Outdoor   11     49.22 *
4  2009 Outdoor   12  49.19 PR *
5   2010 Indoor   Fr    51.28 PR
6  2010 Outdoor   Fr    51.13 PR

In [13]:
dfs[2]

              0     1             2
0    400 Meters   NaN           NaN
1  2011 Outdoor  11.0       1:09.00
2  2012 Outdoor  12.0  1:08.68 PR *

### Pull data for several athletes

Loop over a list of athletes from a csv file and read their 400 Meters numbers

In [7]:
header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

In [28]:
# given a time string, return a float for the time in seconds
def cleantime(time_str):
    time_str = time_str.replace('PR','')
    time_str = time_str.replace('*','')
    time_str = time_str.replace('c','')
    time_str = time_str.replace('h','')

    time_str = time_str.strip()
    #print('time = ',time_str)
    if ':' in time_str:
        t = time_str.split(':')
        time = float(t[0])*60 + float(t[1])
    elif time_str.replace('.','').isdigit(): 
        time = float(time_str)
    else: time = np.nan
    #print(time)
    return(time)

In [90]:
#file = '/Users/dana/metis/git/Metis_Bootcamp/Luther_Project/athletes.csv'
#file = '/Users/dana/metis/git/Metis_Bootcamp/Luther_Project/athlete_list.csv'
#file = '/Users/dana/metis/git/Metis_Bootcamp/Luther_Project/athlete_list_boy1600.csv'
#file = '/Users/dana/metis/git/Metis_Bootcamp/Luther_Project/athlete_list_girlls 1600.csv'
file = '/Users/dana/metis/git/Metis_Bootcamp/Luther_Project/athlete_list_girl400.csv'
#file = '/Users/dana/metis/git/Metis_Bootcamp/Luther_Project/athlete_list_boy400.csv'

athlete_list = pd.read_csv(file)

In [91]:
# Given a list of athletes, scrap their PR times in the 400Meter race
# and add to dataframe
all_data = athlete_list[['ID','Name','School_ID','School','District']]
all_data = all_data.set_index(['ID'])
all_data['9_PR']  = np.nan
all_data['10_PR'] = np.nan
all_data['11_PR'] = np.nan
all_data['12_PR'] = np.nan
all_data['Grad_Yr'] = 0
all_data.Grad_Yr = all_data.Grad_Yr.astype(int)

In [78]:
all_data.head()

,Name,School_ID,School,District,9_PR,10_PR,11_PR,12_PR,Grad_Yr
ID,,,,,,,,,
133440,Li Murphy,302,Annie Wright,District 9,NaN,NaN,NaN,NaN,0
1675244,Olivia Thomas,345,King's,District 8,NaN,NaN,NaN,NaN,0
216722,Whitney Leavitt,377,Kiona-Benton,District 5,NaN,NaN,NaN,NaN,0
298973,Elise Wilcox,303,Bush,District 9,NaN,NaN,NaN,NaN,0
319625,Clara Midgley,308,University Prep,District 9,NaN,NaN,NaN,NaN,0

In [92]:
all_data.shape

(7094, 9)

In [93]:
#all_data1 = all_data[0:2000]
all_data2 = all_data[2000:3000]
all_data3 = all_data[3000:5000]
all_data4 = all_data[5000:8000]
all_data5 = all_data[8000:10000]
print(all_data1.shape,all_data2.shape,all_data3.shape,all_data4.shape,all_data5.shape)

(2000, 10) (1000, 9) (2000, 9) (2094, 9) (0, 9)

In [73]:
all_data = all_data1

In [74]:
all_data.head()

,Name,School_ID,School,District,9_PR,10_PR,11_PR,12_PR,Grad_Yr
ID,,,,,,,,,
133440,Li Murphy,302,Annie Wright,District 9,NaN,NaN,NaN,NaN,0
1675244,Olivia Thomas,345,King's,District 8,NaN,NaN,NaN,NaN,0
216722,Whitney Leavitt,377,Kiona-Benton,District 5,NaN,NaN,NaN,NaN,0
298973,Elise Wilcox,303,Bush,District 9,NaN,NaN,NaN,NaN,0
319625,Clara Midgley,308,University Prep,District 9,NaN,NaN,NaN,NaN,0

In [99]:
all_data = all_data4

Event = '400 Meters'
#Event = '1600 Meters'
n = 0
for ID, row in all_data.iterrows():
    ID_str = str(ID)
    url = 'https://www.athletic.net/TrackAndField/Athlete.aspx?AID='+ID_str+'#!/L0'
    r = requests.get(url, headers=header)
    dfs = pd.read_html(r.text)
    for df in dfs:
        if df[0][0] == Event:
            n += 1
            if n%100 == 0: print(n)

            df.drop(df.index[0:1],inplace=True)
            for index, row in df.iterrows():
                if 'Indoor' not in str(row[0]):
                    #print(f"grade {int(row[1])}, time {row[2]}")
                    #row[1]= str(row[1]).replace('-','')
                    g = str(row[1])
                    g = g.replace('-','')
                    g = g.replace('.0','')

                    #print(ID_str,g)
                    if (g == '9' or g == '10' or g == '11' or g == '12'): 
                        #grade = str(int(row[1]))
                        grade = g

                    else:
                        grade = '0'
                    time = cleantime(str(row[2]))
                    #print(grade,time)
                    all_data.at[ID,grade+"_PR"] = time
# find the graduation year
                    if g == '12': 
                        gy = str(row[0])
                        gy = gy.replace(' Outdoor','')
                        all_data.at[ID,'Grad_Yr'] = int(gy)
                        #print(int(gy))

100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000

In [100]:
all_data4 = all_data

In [96]:
all_data2.head()

,Name,School_ID,School,District,9_PR,10_PR,11_PR,12_PR,Grad_Yr,0_PR
ID,,,,,,,,,,
3011282,Jessica Miller,22531,Glacier Peak,District 8,69.54,64.64,65.35,NaN,0,NaN
347193,Chelsea Dowdell,475,Everett,District 8,NaN,NaN,NaN,69.57,2011,NaN
2953009,Alex Laiblin,485,Oak Harbor,District 8,69.92,NaN,67.24,64.52,2014,NaN
2961675,Jazzmin Carroll,475,Everett,District 8,NaN,70.34,NaN,NaN,0,NaN
2929728,Marcail McDonald,481,Meadowdale,District 8,NaN,NaN,NaN,70.93,2011,NaN

In [55]:
all_data

,Name,School_ID,School,District,9_PR,10_PR,11_PR,12_PR,Grad_Yr
ID,,,,,,,,,
11047561,Luke Absher,358,Port Townsend,District 3,79.64,63.95,57.63,54.63,2018
5315996,Randy Johnson,336,Okanogan,District 6,58.88,58.02,59.22,57.94,2018

In [101]:
all_data = pd.concat([all_data1,all_data2,all_data3,all_data4])
#all_data = pd.concat([all_data1,all_data2])

In [ ]:
all_data.columns

In [102]:
#all_data.drop(['8_PR'], axis=1,inplace=True)
#all_data.drop(['7_PR'], axis=1,inplace=True)
all_data.drop(['0_PR'], axis=1,inplace=True)

In [105]:
all_data.dropna(inplace=True)
all_data.dropna().shape

(382, 9)

In [106]:
all_data.to_csv("allDistrict_girl400.csv")

In [103]:
all_data.shape

(7094, 9)

In [107]:
all_data

,Name,School_ID,School,District,9_PR,10_PR,11_PR,12_PR,Grad_Yr
ID,,,,,,,,,
133440,Li Murphy,302,Annie Wright,District 9,58.45,57.50,57.43,57.54,2010
1675244,Olivia Thomas,345,King's,District 8,62.35,59.78,59.19,58.98,2009
319625,Clara Midgley,308,University Prep,District 9,60.36,61.07,60.07,61.88,2011
184213,Mackenna Moore,310,Cascade Christian,District 3,64.61,64.86,61.49,62.79,2010
243672,Stephanie Rice,345,King's,District 8,64.43,63.34,64.58,68.43,2011
296046,Alia Payne,360,Vashon Island,District 3,67.14,64.92,67.44,67.12,2011
354829,Maddie Knaub,383,Chelan,District 6,69.20,65.26,65.24,65.24,2011
216714,Emily Blizard,377,Kiona-Benton,District 5,65.91,63.10,65.28,63.34,2010
251433,Courtney Hornby,367,Rochester,District 4,66.01,65.34,66.24,66.94,2011
286471,Emma Lodes,360,Vashon Island,District 3,65.54,66.17,65.64,67.76,2011
146296,Kelsie Folden,382,Cashmere,District 6,67.17,64.68,67.02,60.89,2010
237711,Jessica Spear,338,Tonasket,District 6,69.10,67.14,68.50,67.48,2011
303760,Irene Goble,322,Goldendale,District 5,66.40,68.64,69.40,68.36,2011
530126,Britten Ellis,332,Zillah,District 5,70.44,64.79,65.42,68.24,2012
825752,Marriah Paxton,323,Columbia (Burbank),District 5,76.54,68.19,66.50,66.30,2012
138993,Michele Harrod,381,Cascade (Leavenworth),District 6,62.94,64.61,70.17,66.64,2010
821568,Cherish Morrison,348,Blaine,District 8,57.24,56.29,57.27,56.09,2012
155179,Elle Wade,449,Washougal,District 4,59.31,58.17,58.41,58.70,2010
527524,Kiersten Sigfusson,348,Blaine,District 8,59.04,58.05,57.99,57.50,2012
163018,Emily Allison,361,Hockinson,District 4,60.81,60.44,59.65,60.06,2010
313878,Rebecca Lindgren,356,Klahowya,District 3,60.66,60.56,59.17,57.90,2011
823019,Annie Torfin,457,Tumwater,District 4,60.76,58.60,62.22,58.25,2012
301978,Jessica Wallace,403,Squalicum,District 8,63.22,61.32,61.02,63.84,2011
3002464,Kristin Turner,457,Tumwater,District 4,61.45,62.41,62.16,64.74,2012
431483,Charlie Fiander,465,Wapato,District 5,65.15,61.66,66.28,64.14,2011
360613,Emily Moore,457,Tumwater,District 4,62.32,61.94,63.34,62.77,2011
298119,Tenaya Davis,394,Cedarcrest,District 8,67.24,62.07,62.54,61.29,2011
867968,Brittney Beard,447,Mark Morris,District 4,62.95,62.44,61.52,60.59,2012
736145,Madison Heilmann,402,Sehome,District 8,63.46,61.60,70.31,61.19,2012
539982,Molly Rider,403,Squalicum,District 8,63.90,61.24,61.50,59.71,2012
...,...,...,...,...,...,...,...,...,...
7850901,Karlee Stueckle,529,Emerald Ridge,District 3,58.08,60.35,57.79,56.75,2018
6460823,Olivia Ribera,525,Tahoma,District 3,59.76,58.28,60.46,60.28,2017
7871587,Dai'lyn Merriweather,20354,Union,District 4,55.86,58.80,55.81,56.58,2017
6428708,Molly Beaman,541,Skyview,District 4,60.19,58.84,60.44,62.14,2017
7780431,Brittany Rogers,501,Bellarmine Prep,District 3,59.00,59.54,58.36,60.19,2018
7884652,Brooke Manson,491,Eastlake,District 9,59.34,59.54,57.74,57.76,2018
6449216,Breezy Horne,547,Richland,District 5,63.67,59.68,60.42,60.22,2017
6504324,Katherine Slack,477,Kamiak,District 8,62.21,59.98,60.37,60.45,2017
5900639,Abby Garlock,527,Curtis,District 3,66.26,60.00,60.62,57.77,2017
12945917,Kenzie Crandall,408,Issaquah,District 9,60.74,59.74,59.54,58.48,2018
7829239,Dallas Borrego,464,Sunnyside,District 6,62.07,62.03,63.89,62.36,2018
6428726,Taylor Irwin,541,Skyview,District 4,65.14,62.77,63.04,65.57,2017
7818835,Krystal Kaufman,541,Skyview,District 4,62.80,58.84,67.14,62.54,2018
7841729,Megan Grose,477,Kamiak,District 8,65.00,66.00,64.40,63.20,2018
6503590,Caroline Ferguson,477,Kamiak,District 8,63.01,65.75,61.81,61.28,2017
6487869,Sara Thomas,473,Cascade (Everett),District 8,66.91,66.42,67.68,66.34,2017
7880888,Jada Vignos,482,Monroe,District 8,68.02,65.06,63.40,64.17,2018
7841808,Kristine Tandoc,477,Kamiak,District 8,70.71,70.71,73.84,76.57,2018
7841817,Noelle Young,477,Kamiak,District 8,73.45,69.64,70.14,69.41,2018
7802050,Abby Jean Blackwell,525,Tahoma,District 3,66.43,61.44,60.69,63.08,2018
5927719,Trina Le,525,Tahoma,District 3,72.94,67.16,70.43,67.79,2017
7894614,Maya Hodder,506,Gig Harbor,District 3,68.13,63.98,64.01,62.41,2018
7830952,Karlie Smith,547,Richland,District 5,63.60,63.44,63.33,60.92,2018
6514817,Katie Thien,29898,Chiawana,District 5,66.11,64.38,62.53,64.06,2017
6452926,Alexandra Meliah,549,Walla Walla,District 5,66.89,66.11,66.71,65.49,2017
7828017,Hannah Gardner,549,Walla Walla,District 5,66.33,64.31,63.22,62.75,2018
7830935,Logan Jackson,547,Richland,District 5,72.95,63.54,62.96,61.53,2018
7853118,Morgan Yamane,551,Moses Lake,District 6,64.01,66.79,62.77,64.98,2018
6583182,Kamrin Pandher,551,Moses Lake,District 6,77.34,82.00,68.69,66.27,2017
7805641,Jacqueline Wong,522,Kentridge,District 3,69.71,71.86,72.69,71.08,2018

all_data1.shape