In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import os

athlete_no = '6483989' # Anna Foster
#athlete_no = '3013148' # Carolyn Birkenfeld
athlete_no = '5824213' # Lexi Kyro
url = 'https://www.athletic.net/TrackAndField/Athlete.aspx?AID='+athlete_no+'#!/L0'

response = requests.get(url)

In [3]:
chromedriver = "/usr/local/bin/chromedriver"

os.environ["webdriver.chrome.driver"] = chromedriver

driver = webdriver.Chrome(chromedriver)
driver.get("https://www.athletic.net")
driver.get("https://www.athletic.net/account/login/?ReturnUrl=%2Fdefault.aspx")

%load_ext dotenv
%dotenv
EMAIL = 'adds@silverbeach.com'
#PASSWORD = os.environ.get('PASSWORD')
PASSWORD = 'HappyN0w'
username_form = driver.find_element_by_name("email")
username_form.send_keys(EMAIL) # enter email

username_form.send_keys(Keys.RETURN)
password_form=driver.find_element_by_name("password") # note another approach
password_form.send_keys(PASSWORD) # enter password
password_form.send_keys(Keys.RETURN)

## Using Pandas

In [4]:
header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

r = requests.get(url, headers=header)

dfs = pd.read_html(r.text)

In [5]:
for df in dfs:
    if df[0][0] == '400 Meters':
        all_years = df
        
print(all_years)

              0     1             2
0    400 Meters   NaN           NaN
1  2014 Outdoor   9.0       1:02.20
2  2015 Outdoor  10.0       1:06.13
3  2016 Outdoor  11.0  1:02.04 PR *
4  2017 Outdoor  12.0       1:02.59

In [6]:
dfs[2]

                          0     1              2
0  400 Meters - Relay Split   NaN            NaN
1              2014 Outdoor   9.0       1:03.94c
2              2015 Outdoor  10.0       1:07.64c
3              2016 Outdoor  11.0  1:02.54c PR *
4              2017 Outdoor  12.0       1:06.04c

### Pull data for several athletes

Loop over a list of athletes from a csv file and read their 400 Meters numbers

In [41]:
header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

In [46]:
#file = '/Users/dana/metis/git/Metis_Bootcamp/Luther_Project/athletes.csv'
file = '/Users/dana/metis/git/Metis_Bootcamp/Luther_Project/athlete_list.csv'

athlete_list = pd.read_csv(file)

In [43]:
# given a time string, return a float for the time in seconds
def cleantime(time_str):
    time_str = time_str.replace('PR','')
    time_str = time_str.replace('*','')
    time_str = time_str.replace('c','')
    time_str = time_str.strip()
    if ':' in time_str:
        t = time_str.split(':')
        time = float(t[0])*60 + float(t[1])
    elif time_str.isdigit(): 
        time = float(time_str)
    else: time = np.nan
    return(time)

In [50]:
# Given a list of athletes, scrap their PR times in the 400Meter race
# and add to dataframe
all_data = athlete_list[['ID','Name','School_ID','School','Division']]
all_data = all_data.set_index(['ID'])
all_data['9_PR']  = np.nan
all_data['10_PR'] = np.nan
all_data['11_PR'] = np.nan
all_data['12_PR'] = np.nan

In [48]:
all_data

,Name,School_ID,School,Division,9_PR,10_PR,11_PR,12_PR
ID,,,,,,,,
7880535,Ronna Iverson,405,Shorecrest,1,NaN,NaN,NaN,NaN
7441281,Caroline Dolan,488,Stanwood,1,NaN,NaN,NaN,NaN
12199158,Marine Wassmer,472,Arlington,1,NaN,NaN,NaN,NaN
7880539,Ami Njadoe,405,Shorecrest,1,NaN,NaN,NaN,NaN
13736186,Eloika Schemmel,405,Shorecrest,1,NaN,NaN,NaN,NaN
8645910,Kelsey Mutton,472,Arlington,1,NaN,NaN,NaN,NaN
11097622,Skye Nephew,486,Shorewood,1,NaN,NaN,NaN,NaN
11062484,Ellie Schemmel,405,Shorecrest,1,NaN,NaN,NaN,NaN
7853471,Adrienne Cordell,486,Shorewood,1,NaN,NaN,NaN,NaN
8632032,Lauren Block,405,Shorecrest,1,NaN,NaN,NaN,NaN
12855776,Jersey Heiss,472,Arlington,1,NaN,NaN,NaN,NaN
11053203,Nicole Headrick,399,Ferndale,1,NaN,NaN,NaN,NaN
7400438,Yukino Parle,474,Edmonds-Woodway,1,NaN,NaN,NaN,NaN
7357565,Grace Oswin,403,Squalicum,1,NaN,NaN,NaN,NaN
12681547,Grace Kamila,486,Shorewood,1,NaN,NaN,NaN,NaN
11166388,Sesley Love,481,Meadowdale,1,NaN,NaN,NaN,NaN
7880544,Marieke Visscher,405,Shorecrest,1,NaN,NaN,NaN,NaN
12870444,Courtney VanGiesen,485,Oak Harbor,1,NaN,NaN,NaN,NaN
11174608,Chalae Wolters,403,Squalicum,1,NaN,NaN,NaN,NaN
7836206,Jenna Cooley,485,Oak Harbor,1,NaN,NaN,NaN,NaN
11407558,Jaclyn Denham,399,Ferndale,1,NaN,NaN,NaN,NaN
11213710,SOPHIE ALT,39269,Marysville Getchell,1,NaN,NaN,NaN,NaN
9213539,Allyson McArthur,404,Lynnwood,1,NaN,NaN,NaN,NaN
9404358,Jamie Dierdorff,403,Squalicum,1,NaN,NaN,NaN,NaN
12873468,Ashli McCudden,403,Squalicum,1,NaN,NaN,NaN,NaN
9404385,Audra Johnson,403,Squalicum,1,NaN,NaN,NaN,NaN
12864226,Dahlia McAllister,405,Shorecrest,1,NaN,NaN,NaN,NaN
11287814,Hailey Ovenell,488,Stanwood,1,NaN,NaN,NaN,NaN
11060666,Ellie Gard,474,Edmonds-Woodway,1,NaN,NaN,NaN,NaN
9467822,Kiarra Green,39269,Marysville Getchell,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
9400299,Hannah Tonsman,414,Bainbridge,2,NaN,NaN,NaN,NaN
11067799,Dasia Burkett,420,Ingraham,2,NaN,NaN,NaN,NaN
11247116,Nia Jones,492,Franklin (WA),2,NaN,NaN,NaN,NaN
9406459,Georgia Hale,498,Roosevelt (WA),2,NaN,NaN,NaN,NaN
9817520,Reese Hill,414,Bainbridge,2,NaN,NaN,NaN,NaN
11819417,Coco Andonian,496,Lake Washington,2,NaN,NaN,NaN,NaN
9591317,Emma de Andrade,407,Interlake,2,NaN,NaN,NaN,NaN
12834581,Grace Wallace,498,Roosevelt (WA),2,NaN,NaN,NaN,NaN
12834354,Brooke Gill,498,Roosevelt (WA),2,NaN,NaN,NaN,NaN
11253331,Hannah Martin,419,Holy Names Academy,2,NaN,NaN,NaN,NaN
9406399,Adriana Brooke-Pike,498,Roosevelt (WA),2,NaN,NaN,NaN,NaN
10523150,Tess Imanishi,492,Franklin (WA),2,NaN,NaN,NaN,NaN
7842534,Louise Daigneault,498,Roosevelt (WA),2,NaN,NaN,NaN,NaN
10509710,Sadie Sterk,493,Garfield,2,NaN,NaN,NaN,NaN
12830711,Danielle Taylor,421,Lakeside (Seattle),2,NaN,NaN,NaN,NaN
11269970,Sierrah Bettin,426,West Seattle,2,NaN,NaN,NaN,NaN
12777220,Gemma Walker,493,Garfield,2,NaN,NaN,NaN,NaN
11088317,Ava Alvord,489,Ballard,2,NaN,NaN,NaN,NaN
7851490,Rain Naylor,422,Nathan Hale,2,NaN,NaN,NaN,NaN
9411085,Maren Cork,420,Ingraham,2,NaN,NaN,NaN,NaN
8696620,Kate Inge,489,Ballard,2,NaN,NaN,NaN,NaN
12777156,Paige Anderson,493,Garfield,2,NaN,NaN,NaN,NaN
11186737,Elizabeth Bailey,410,Mercer Island,2,NaN,NaN,NaN,NaN
11174370,Marina Montanez,497,Redmond,2,NaN,NaN,NaN,NaN
12834491,Isabella Rieke-Wey,498,Roosevelt (WA),2,NaN,NaN,NaN,NaN
11269989,Katherine Long,426,West Seattle,2,NaN,NaN,NaN,NaN
12866871,Sophia Drezner,489,Ballard,2,NaN,NaN,NaN,NaN
12834341,Alexandra Dorn,498,Roosevelt (WA),2,NaN,NaN,NaN,NaN
12866850,Frances Magnusson,489,Ballard,2,NaN,NaN,NaN,NaN
11059215,Peyton Yoshida,496,Lake Washington,2,NaN,NaN,NaN,NaN

In [52]:

for ID, row in all_data.iterrows():
    ID_str = str(ID)
    url = 'https://www.athletic.net/TrackAndField/Athlete.aspx?AID='+ID_str+'#!/L0'
    r = requests.get(url, headers=header)
    dfs = pd.read_html(r.text)
    for df in dfs:
        if df[0][0] == '400 Meters':
            df.drop(df.index[0:1],inplace=True)
            for index, row in df.iterrows():
                if 'Indoor' not in str(row[0]):
                    # print(f"grade {int(row[1])}, time {row[2]}")
                    #row[1]= str(row[1]).replace('-','')
                    g = str(row[1])
                    g = g.replace('-','')
                    g = g.replace('.0','')

                    #print(ID_str,g)
                    if (g == '9' or g == '10' or g == '11' or g == '12'): 
                        #grade = str(int(row[1]))
                        grade = g

                    else:
                        grade = '0'
                    time = cleantime(str(row[2]))
                    # print(grade,time)
                    all_data.at[ID,grade+"_PR"] = time

In [53]:
all_data

,Name,School_ID,School,Division,9_PR,10_PR,11_PR,12_PR,0_PR
ID,,,,,,,,,
7880535,Ronna Iverson,405,Shorecrest,1,62.63,NaN,61.21,NaN,NaN
7441281,Caroline Dolan,488,Stanwood,1,64.08,60.22,NaN,NaN,NaN
12199158,Marine Wassmer,472,Arlington,1,NaN,NaN,NaN,NaN,NaN
7880539,Ami Njadoe,405,Shorecrest,1,NaN,NaN,NaN,NaN,NaN
13736186,Eloika Schemmel,405,Shorecrest,1,NaN,60.60,NaN,NaN,NaN
8645910,Kelsey Mutton,472,Arlington,1,62.85,61.25,60.61,NaN,NaN
11097622,Skye Nephew,486,Shorewood,1,61.18,61.25,NaN,NaN,NaN
11062484,Ellie Schemmel,405,Shorecrest,1,62.56,61.25,NaN,NaN,NaN
7853471,Adrienne Cordell,486,Shorewood,1,62.48,62.35,60.52,61.47,NaN
8632032,Lauren Block,405,Shorecrest,1,68.45,NaN,61.72,NaN,NaN
12855776,Jersey Heiss,472,Arlington,1,61.82,NaN,NaN,NaN,NaN
11053203,Nicole Headrick,399,Ferndale,1,60.65,62.12,NaN,NaN,NaN
7400438,Yukino Parle,474,Edmonds-Woodway,1,NaN,70.64,NaN,62.22,NaN
7357565,Grace Oswin,403,Squalicum,1,NaN,62.96,61.38,62.26,NaN
12681547,Grace Kamila,486,Shorewood,1,62.39,NaN,NaN,NaN,NaN
11166388,Sesley Love,481,Meadowdale,1,65.53,62.89,NaN,NaN,NaN
7880544,Marieke Visscher,405,Shorecrest,1,NaN,NaN,68.47,63.15,NaN
12870444,Courtney VanGiesen,485,Oak Harbor,1,63.21,NaN,NaN,NaN,NaN
11174608,Chalae Wolters,403,Squalicum,1,NaN,NaN,60.17,63.27,NaN
7836206,Jenna Cooley,485,Oak Harbor,1,68.29,NaN,61.93,63.42,NaN
11407558,Jaclyn Denham,399,Ferndale,1,63.51,NaN,NaN,NaN,65.75
11213710,SOPHIE ALT,39269,Marysville Getchell,1,NaN,63.54,NaN,NaN,NaN
9213539,Allyson McArthur,404,Lynnwood,1,65.55,67.40,63.64,NaN,NaN
9404358,Jamie Dierdorff,403,Squalicum,1,NaN,63.90,63.64,NaN,NaN
12873468,Ashli McCudden,403,Squalicum,1,63.64,NaN,NaN,NaN,64.93
9404385,Audra Johnson,403,Squalicum,1,68.88,63.18,63.76,NaN,NaN
12864226,Dahlia McAllister,405,Shorecrest,1,NaN,63.81,NaN,NaN,NaN
11287814,Hailey Ovenell,488,Stanwood,1,NaN,64.12,NaN,NaN,NaN
11060666,Ellie Gard,474,Edmonds-Woodway,1,67.22,64.44,NaN,NaN,NaN
9467822,Kiarra Green,39269,Marysville Getchell,1,NaN,60.43,64.63,NaN,NaN
...,...,...,...,...,...,...,...,...,...
9400299,Hannah Tonsman,414,Bainbridge,2,63.12,65.02,66.66,NaN,NaN
11067799,Dasia Burkett,420,Ingraham,2,NaN,NaN,66.31,66.69,NaN
11247116,Nia Jones,492,Franklin (WA),2,68.16,66.70,NaN,NaN,NaN
9406459,Georgia Hale,498,Roosevelt (WA),2,63.13,64.37,66.72,NaN,NaN
9817520,Reese Hill,414,Bainbridge,2,66.79,NaN,NaN,NaN,66.03
11819417,Coco Andonian,496,Lake Washington,2,66.80,NaN,NaN,NaN,NaN
9591317,Emma de Andrade,407,Interlake,2,NaN,NaN,66.93,NaN,NaN
12834581,Grace Wallace,498,Roosevelt (WA),2,NaN,NaN,67.02,NaN,NaN
12834354,Brooke Gill,498,Roosevelt (WA),2,67.04,NaN,NaN,NaN,NaN
11253331,Hannah Martin,419,Holy Names Academy,2,68.64,67.04,NaN,NaN,NaN
9406399,Adriana Brooke-Pike,498,Roosevelt (WA),2,NaN,68.20,NaN,67.09,NaN
10523150,Tess Imanishi,492,Franklin (WA),2,NaN,67.12,NaN,NaN,NaN
7842534,Louise Daigneault,498,Roosevelt (WA),2,64.50,63.41,64.44,67.13,NaN
10509710,Sadie Sterk,493,Garfield,2,NaN,67.18,NaN,NaN,NaN
12830711,Danielle Taylor,421,Lakeside (Seattle),2,67.25,NaN,NaN,NaN,NaN
11269970,Sierrah Bettin,426,West Seattle,2,NaN,NaN,65.76,67.51,NaN
12777220,Gemma Walker,493,Garfield,2,NaN,67.54,NaN,NaN,NaN
11088317,Ava Alvord,489,Ballard,2,69.46,67.58,NaN,NaN,NaN
7851490,Rain Naylor,422,Nathan Hale,2,73.23,NaN,68.68,67.62,NaN
9411085,Maren Cork,420,Ingraham,2,NaN,NaN,67.64,NaN,NaN
8696620,Kate Inge,489,Ballard,2,70.88,70.19,67.96,NaN,NaN
12777156,Paige Anderson,493,Garfield,2,NaN,NaN,67.97,NaN,NaN
11186737,Elizabeth Bailey,410,Mercer Island,2,64.60,66.94,NaN,NaN,NaN
11174370,Marina Montanez,497,Redmond,2,67.78,67.99,NaN,NaN,NaN
12834491,Isabella Rieke-Wey,498,Roosevelt (WA),2,68.01,NaN,NaN,NaN,NaN
11269989,Katherine Long,426,West Seattle,2,NaN,68.06,NaN,NaN,NaN
12866871,Sophia Drezner,489,Ballard,2,NaN,NaN,68.07,NaN,NaN
12834341,Alexandra Dorn,498,Roosevelt (WA),2,68.30,NaN,NaN,NaN,NaN
12866850,Frances Magnusson,489,Ballard,2,68.35,NaN,NaN,NaN,NaN
11059215,Peyton Yoshida,496,Lake Washington,2,NaN,68.53,NaN,NaN,NaN

In [54]:
#all_data.drop(['8_PR'], axis=1,inplace=True)
#all_data.drop(['7_PR'], axis=1,inplace=True)
all_data.drop(['0_PR'], axis=1,inplace=True)

In [55]:
all_data.dropna(inplace=True)

In [56]:
all_data

,Name,School_ID,School,Division,9_PR,10_PR,11_PR,12_PR
ID,,,,,,,,
7853471,Adrienne Cordell,486,Shorewood,1,62.48,62.35,60.52,61.47
6505063,Sabrina Farrell,39269,Marysville Getchell,1,64.43,62.92,63.35,62.50
6483760,Kristina DeKoster,403,Squalicum,1,67.24,65.94,65.36,64.71
6425307,Jessica Ong,483,Mountlake Terrace,1,61.97,64.21,61.23,66.73
5220516,Alexandria Chang,481,Meadowdale,1,65.21,64.21,64.22,62.02
4757564,Mikayla Pivec,404,Lynnwood,1,62.83,62.06,62.06,62.14
7865037,Amanda Johnson,22531,Glacier Peak,1,71.03,69.80,66.77,66.23
7308110,Joan Park,483,Mountlake Terrace,1,74.34,75.28,72.30,72.84
4031061,Baylee Barnes,22531,Glacier Peak,1,63.35,62.92,61.11,62.04
3985226,Christina Garrison,486,Shorewood,1,64.33,64.63,63.60,62.98
2927049,Wesley Bradley,480,Marysville-Pilchuck,1,68.70,65.40,62.42,62.95
1444637,Ryleigh Wolfington,480,Marysville-Pilchuck,1,67.76,66.75,66.84,62.61
1483836,Jordin Stephenson,488,Stanwood,1,62.98,63.82,65.24,70.03
2927983,Grace Douglas,404,Lynnwood,1,66.11,61.63,61.79,60.64
844536,Maura McKole,485,Oak Harbor,1,62.92,61.89,61.82,62.74
1940037,Molly Stroosma,484,Mt Vernon,1,62.25,66.24,63.88,63.25
787033,Lynleigh Oliver,405,Shorecrest,1,65.66,63.60,62.75,67.91
287440,Kelsey Johnson,486,Shorewood,1,66.02,68.70,65.85,69.38
119926,Ashley Desharnias,405,Shorecrest,1,63.64,62.47,62.28,62.43
7928616,Chloe Myers,416,Chief Sealth,2,63.54,61.54,61.52,60.81
7773408,Sophia Collins,495,Juanita,2,66.92,66.62,63.38,63.30
7693094,Madison Mackenzie-Pickar,425,Seattle Prep,2,62.44,66.17,62.58,65.70
7842534,Louise Daigneault,498,Roosevelt (WA),2,64.50,63.41,64.44,67.13

In [59]:
all_data.shape

(23, 8)