In [42]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time

divisions = ([[1,'91728'],
              [1,'82475'],
              [1,'73299'],
              [1,'62341'],
              [1,'52190'],
              [1,'45824'],
              [1,'34936'],
              [1,'30635'],
              [1,'19845'],
              [1,'12205'],
              [2,'91731']])
#athlete_list_url="https://www.athletic.net/TrackAndField/Division/Event.aspx?DivID=91731&Event=21"

In [65]:
id_key_string =     "../Athlete.aspx?AID="
school_key_string = "../School.aspx?SchoolID="

def read_div_year(Div,Div_id):
    athlete_list_url="https://www.athletic.net/TrackAndField/Division/Event.aspx?DivID="+Div_id+"&Event=21"

    response = requests.get(athlete_list_url)
    page = response.text
    soup = BeautifulSoup(page,"lxml")
    
    cols = ['ID','Name','School_ID','School','Division']
    athlete_list = pd.DataFrame(columns=cols)

    tables=soup.find_all("table")

    for i in tables:
        for row in i:
            str_row = str(row)
            id_index = str_row.find(id_key_string)
            if id_index != -1:
    # extract the athlete ID
                str_row = str_row[id_index+20:]            
                id_str = str_row[0:8]
                id_str = id_str.replace('\"',"")
                id_str = id_str.replace('>','')
                #ID = int(id_str)
    # extract the athlete Name
                name_index = str_row.find(">") + 1
                str_row = str_row[name_index:]
                name_index = str_row.find("<")
                Name = str_row[0:name_index] # save this data
    # extract the athlete school
                school_index = str_row.find(school_key_string)
                str_row = str_row[school_index+24:]
                school_index = str_row.find('\">')
                school_id = int(str_row[0:school_index]) # save this data
                str_row = str_row[school_index+2:]
                school_index = str_row.find("<")
                school_name = str_row[0:school_index] #save this data
                
                if id_str.isdigit():
                    ID = int(id_str)

                    athlete_list = athlete_list.append({'ID': ID, 'Name': Name, 'School_ID': school_id, 'School': school_name, 'Division': Div}, ignore_index=True)

    athlete_list = athlete_list.set_index(['ID'])
    return athlete_list

In [66]:
# Loop through list of division data, extracting athlete data
all_athlete_list = pd.DataFrame()
for div, div_id in divisions:
    print(div,div_id)
    new_list = read_div_year(div,div_id)
    all_athlete_list = all_athlete_list.append(new_list)

1 91728
1 82475
1 73299
1 62341
1 52190
1 45824
1 34936
1 30635
1 19845
1 12205
2 91731

In [68]:
all_athlete_list

                         Name School_ID               School Division
ID
7880535         Ronna Iverson       405           Shorecrest        1
7441281        Caroline Dolan       488             Stanwood        1
12199158       Marine Wassmer       472            Arlington        1
7880539            Ami Njadoe       405           Shorecrest        1
13736186      Eloika Schemmel       405           Shorecrest        1
8645910         Kelsey Mutton       472            Arlington        1
11097622          Skye Nephew       486            Shorewood        1
11062484       Ellie Schemmel       405           Shorecrest        1
7853471      Adrienne Cordell       486            Shorewood        1
8632032          Lauren Block       405           Shorecrest        1
12855776         Jersey Heiss       472            Arlington        1
11053203      Nicole Headrick       399             Ferndale        1
7400438          Yukino Parle       474      Edmonds-Woodway        1
7357565           Grace Oswin       403            Squalicum        1
12681547         Grace Kamila       486            Shorewood        1
11166388          Sesley Love       481           Meadowdale        1
7880544      Marieke Visscher       405           Shorecrest        1
12870444   Courtney VanGiesen       485           Oak Harbor        1
11174608       Chalae Wolters       403            Squalicum        1
7836206          Jenna Cooley       485           Oak Harbor        1
11407558        Jaclyn Denham       399             Ferndale        1
11213710           SOPHIE ALT     39269  Marysville Getchell        1
9213539      Allyson McArthur       404             Lynnwood        1
9404358       Jamie Dierdorff       403            Squalicum        1
12873468       Ashli McCudden       403            Squalicum        1
9404385         Audra Johnson       403            Squalicum        1
12864226    Dahlia McAllister       405           Shorecrest        1
11287814       Hailey Ovenell       488             Stanwood        1
11060666           Ellie Gard       474      Edmonds-Woodway        1
9467822          Kiarra Green     39269  Marysville Getchell        1
...                       ...       ...                  ...      ...
9400299        Hannah Tonsman       414           Bainbridge        2
11067799        Dasia Burkett       420             Ingraham        2
11247116            Nia Jones       492        Franklin (WA)        2
9406459          Georgia Hale       498       Roosevelt (WA)        2
9817520            Reese Hill       414           Bainbridge        2
11819417        Coco Andonian       496      Lake Washington        2
9591317       Emma de Andrade       407            Interlake        2
12834581        Grace Wallace       498       Roosevelt (WA)        2
12834354          Brooke Gill       498       Roosevelt (WA)        2
11253331        Hannah Martin       419   Holy Names Academy        2
9406399   Adriana Brooke-Pike       498       Roosevelt (WA)        2
10523150        Tess Imanishi       492        Franklin (WA)        2
7842534     Louise Daigneault       498       Roosevelt (WA)        2
10509710          Sadie Sterk       493             Garfield        2
12830711      Danielle Taylor       421   Lakeside (Seattle)        2
11269970       Sierrah Bettin       426         West Seattle        2
12777220         Gemma Walker       493             Garfield        2
11088317           Ava Alvord       489              Ballard        2
7851490           Rain Naylor       422          Nathan Hale        2
9411085            Maren Cork       420             Ingraham        2
8696620             Kate Inge       489              Ballard        2
12777156       Paige Anderson       493             Garfield        2
11186737     Elizabeth Bailey       410        Mercer Island        2
11174370      Marina Montanez       497              Redmond        2
12834491   Isabella Rieke-Wey       498       Roosevelt (WA)        2
11269989       Katherine Long       426         West Seattle        2
12866871       Sophia Drezner       489              Ballard        2
12834341       Alexandra Dorn       498       Roosevelt (WA)        2
12866850    Frances Magnusson       489              Ballard        2
11059215       Peyton Yoshida       496      Lake Washington        2

[793 rows x 4 columns]

In [72]:
all_athlete_list.drop_duplicates(inplace=True)

In [73]:
all_athlete_list.to_csv('athlete_list.csv')