## Fletcher Collect Data

Data was pulled from the NY Times API using requests.

The data came down as json files.

The json was parsed using jq to pull the relevent data from the json file.

In [2]:
import requests
import pyjq
import datetime
from dateutil.rrule import rrule, MONTHLY
import pickle

In [11]:
# create a list of (year,month) pairs for the data

start_dt = datetime.date(2015,1,1)
end_dt = datetime.date(2018,11,16)
#start_dt = datetime.date(2018,1,1)
#end_dt = datetime.date(2018,1,1)

dates = [(dt.year,dt.month) for dt in rrule(MONTHLY, dtstart=start_dt, until=end_dt)]

In [12]:
# loop through the (year,month) pairs, pull the json file from NY Times, extract the desired data
all_output = []
for year,month in dates:
    this_url = f'https://api.nytimes.com/svc/archive/v1/{year}/{month}.json?&api-key=6a6c043c723548a98eafc5b624317cac'
    r = requests.get(this_url)
    summary_data = r.json()
    
    length = pyjq.all('.response .docs | length',summary_data)[0]
    print(f'For month {month} in {year} there were {length} articles')

#    jq_query = f'.response .docs [] | {{snippet: .snippet, headline: .headline .main, date: .pub_date}}'
    jq_query = f'.response .docs [] | {{snippet: .snippet, headline: .headline .main, news_desk: .news_desk, news_desk: .new_desk, date: .pub_date}}'
    output = pyjq.all(jq_query,summary_data)
    all_output.append([f'{year}{month:02}',output])

For month 1 in 2015 there were 8252 articles
For month 2 in 2015 there were 7561 articles
For month 3 in 2015 there were 8397 articles
For month 4 in 2015 there were 7768 articles
For month 5 in 2015 there were 7973 articles
For month 6 in 2015 there were 7888 articles
For month 7 in 2015 there were 7893 articles
For month 8 in 2015 there were 7435 articles
For month 9 in 2015 there were 8273 articles
For month 10 in 2015 there were 8499 articles
For month 11 in 2015 there were 7777 articles
For month 12 in 2015 there were 7582 articles
For month 1 in 2016 there were 7644 articles
For month 2 in 2016 there were 7297 articles
For month 3 in 2016 there were 7502 articles
For month 4 in 2016 there were 6699 articles
For month 5 in 2016 there were 6802 articles
For month 6 in 2016 there were 6640 articles
For month 7 in 2016 there were 6120 articles
For month 8 in 2016 there were 5268 articles
For month 9 in 2016 there were 5904 articles
For month 10 in 2016 there were 5792 articles
For month 11 in 2016 there were 5418 articles
For month 12 in 2016 there were 5073 articles
For month 1 in 2017 there were 5205 articles
For month 2 in 2017 there were 5024 articles
For month 3 in 2017 there were 5650 articles
For month 4 in 2017 there were 4979 articles
For month 5 in 2017 there were 5337 articles
For month 6 in 2017 there were 5356 articles
For month 7 in 2017 there were 4828 articles
For month 8 in 2017 there were 4935 articles
For month 9 in 2017 there were 5094 articles
For month 10 in 2017 there were 5248 articles
For month 11 in 2017 there were 4895 articles
For month 12 in 2017 there were 2791 articles
For month 1 in 2018 there were 4808 articles
For month 2 in 2018 there were 4577 articles
For month 3 in 2018 there were 5053 articles
For month 4 in 2018 there were 4671 articles
For month 5 in 2018 there were 5132 articles
For month 6 in 2018 there were 5045 articles
For month 7 in 2018 there were 4535 articles
For month 8 in 2018 there were 4609 articles
For month 9 in 2018 there were 4923 articles
For month 10 in 2018 there were 5168 articles
For month 11 in 2018 there were 2670 articles

In [13]:
# write data to pickle file
with open('data/all_output_newsdesk1.pkl', 'wb') as fp:
    pickle.dump(all_output, fp)