## Output to DataFrame   

Take the data pulled from the NY Times web site and put in dataframe for analysis

In [1]:
import pickle
import datetime
from dateutil.parser import parse

import pandas as pd

In [2]:
# read data from pickle file
#with open ('all_output.pkl', 'rb') as fp:
with open ('data/all_output_newsdesk1.pkl', 'rb') as fp:
    all_output = pickle.load(fp)

## Create initial DataFrame

In [5]:
# create a DataFrame 

df = pd.DataFrame(columns=['date','headline','snippet','news_desk'])

for x in all_output:
    print(f'For month {x[0][4:]} in {x[0][:4]} there were {len(x[1])} articles')
    for i in range(len(x[1])):
        row = x[1][i]
        df1  = pd.DataFrame(data=row, index=[0])
        df1.drop(columns=['date'],inplace=True)
        date = parse(row['date'])
        df1['date'] = date.date()
        df = pd.concat([df, df1],ignore_index=True)

#print(df)

For month 01 in 2015 there were 8252 articles

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:18: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

For month 02 in 2015 there were 7561 articles
For month 03 in 2015 there were 8397 articles
For month 04 in 2015 there were 7768 articles
For month 05 in 2015 there were 7973 articles
For month 06 in 2015 there were 7888 articles
For month 07 in 2015 there were 7893 articles
For month 08 in 2015 there were 7435 articles
For month 09 in 2015 there were 8273 articles
For month 10 in 2015 there were 8499 articles
For month 11 in 2015 there were 7777 articles
For month 12 in 2015 there were 7582 articles
For month 01 in 2016 there were 7644 articles
For month 02 in 2016 there were 7297 articles
For month 03 in 2016 there were 7502 articles
For month 04 in 2016 there were 6699 articles
For month 05 in 2016 there were 6802 articles
For month 06 in 2016 there were 6640 articles
For month 07 in 2016 there were 6120 articles
For month 08 in 2016 there were 5268 articles
For month 09 in 2016 there were 5904 articles
For month 10 in 2016 there were 5792 articles
For month 11 in 2016 there were 5418 articles
For month 12 in 2016 there were 5073 articles
For month 01 in 2017 there were 5205 articles
For month 02 in 2017 there were 5024 articles
For month 03 in 2017 there were 5650 articles
For month 04 in 2017 there were 4979 articles
For month 05 in 2017 there were 5337 articles
For month 06 in 2017 there were 5356 articles
For month 07 in 2017 there were 4828 articles
For month 08 in 2017 there were 4935 articles
For month 09 in 2017 there were 5094 articles
For month 10 in 2017 there were 5248 articles
For month 11 in 2017 there were 4895 articles
For month 12 in 2017 there were 2791 articles
For month 01 in 2018 there were 4808 articles
For month 02 in 2018 there were 4577 articles
For month 03 in 2018 there were 5053 articles
For month 04 in 2018 there were 4671 articles
For month 05 in 2018 there were 5132 articles
For month 06 in 2018 there were 5045 articles
For month 07 in 2018 there were 4535 articles
For month 08 in 2018 there were 4609 articles
For month 09 in 2018 there were 4923 articles
For month 10 in 2018 there were 5168 articles
For month 11 in 2018 there were 2670 articles

In [6]:
df.news_desk.unique()

array([None, 'Weekend', 'Science', 'Business', 'OpEd', 'Metro', 'NYTNow',
       'BookReview', 'Movies', 'National', 'Sports', 'Arts&Leisure',
       'U.S. / Politics', 'Editorial', 'Watching', 'Insider',
       'Business Day / DealBook', 'Fashion & Style', 'Culture', 'TStyle',
       'Styles', 'Fashion & Style / Menâ€™s Style', 'T Magazine / Art',
       "Fashion & Style / Men's Runway", 'Opinion', 'Foreign',
       'Business Day', 'Dining', 'Food', 'T Magazine / Fashion & Beauty',
       'Letters', 'Sports / Pro Football', 'Metropolitan',
       'World / Australia', 'RealEstate', 'SundayBusiness',
       'T Magazine / Entertainment', 'Times Insider',
       'Fashion & Style / Weddings', 'Podcasts', 'Travel', 'Arts / Music',
       'EdLife', 'Magazine', 'Learning', 'Corrections', 'Games',
       'Summary', 'U.S.', 'Obituaries', 'Well', 'Blogs',
       'World / Middle East', 'World / Europe', 'Real Estate', 'Upshot',
       'Multimedia/Photos', 'Education / Education Life',
       'World / Asia Pacific', 'World', 'Society', 'Investigative',
       'N.Y. / Region', 'Style', 'Job Market', 'Technology', 'T Magazine',
       'Well / Live', 'The Upshot', 'Health', 'World / Americas',
       'The Learning Network', 'Science / Environment', 'Automobiles',
       'Education', 'Books', 'Automobiles / New Cars', 'Universal',
       'Arts', 'Crosswords & Games', 'Arts / Art & Design', 'Washington',
       'Politics', 'World / Africa', 'Your Money', 'Climate',
       'Science / Space & Cosmos', 'SpecialSections', 'Express',
       'NewsDesk', 'SundayReview', 'Sunday Review', 'Obits',
       'Sports / Golf', 'Business Day / Media', 'International Home',
       'Arts / Dance', 'Slideshows', 'T Magazine / Travel',
       "Fashion & Style / Women's Runway", 'Real Estate / Real Estate',
       'Arts / Television', 'Smarter Living', 'Reader Center',
       'Opinion / Contributors', 'Health / Money & Policy', 'Admin',
       'NYTI', 'Theater', 'Business Day / Energy & Environment ',
       'Opinion / Columnists', 'Test', 'Briefing', 'Video',
       'U.S. / Elections', 'Well / Family', 'Photo', 'Guides',
       'Sports / Baseball', 'Sports / Olympics', 'Homepage',
       'N.Y. / Region / New York Today', 'New York'], dtype=object)

In [7]:
df.groupby('news_desk').count()

                                      date  headline  snippet
news_desk
Admin                                   11        11       11
Arts                                    68        68       68
Arts / Art & Design                      4         4        4
Arts / Dance                             1         1        1
Arts / Music                            57        57       57
Arts / Television                        8         8        8
Arts&Leisure                           734       734      734
Automobiles                              4         4        4
Automobiles / New Cars                   3         3        3
Blogs                                  119       119      119
BookReview                            1390      1390     1390
Books                                    7         7        7
Briefing                                25        25       25
Business                              4253      4253     4253
Business Day                            68        68       68
Business Day / DealBook                  9         9        9
Business Day / Energy & Environment      1         1        1
Business Day / Media                     4         4        4
Climate                                282       282      282
Corrections                            310       310      310
Crosswords & Games                       5         5        5
Culture                               4069      4069     4069
Dining                                 933       933      933
EdLife                                  38        38       38
Editorial                              720       720      720
Education                                4         4        4
Education / Education Life               3         3        3
Express                                502       502      502
Fashion & Style                        607       607      607
Fashion & Style / Men's Runway          17        17       17
...                                    ...       ...      ...
T Magazine / Fashion & Beauty            8         8        8
T Magazine / Travel                      1         1        1
TStyle                                 590       590      590
Technology                              38        38       38
Test                                     1         1        1
The Learning Network                    65        65       65
The Upshot                              91        91       91
Theater                                  3         3        3
Times Insider                           13        13       13
Travel                                 728       728      728
U.S.                                   295       295      295
U.S. / Elections                         6         6        6
U.S. / Politics                        168       168      168
Universal                               16        16       16
Upshot                                 255       255      255
Video                                    6         6        6
Washington                            2306      2306     2306
Watching                               276       276      276
Weekend                               1627      1627     1627
Well                                   559       559      559
Well / Family                            7         7        7
Well / Live                              1         1        1
World                                   95        95       95
World / Africa                          18        18       18
World / Americas                        45        45       45
World / Asia Pacific                    47        47       47
World / Australia                        3         3        3
World / Europe                          42        42       42
World / Middle East                     42        42       42
Your Money                              11        11       11

[122 rows x 3 columns]

In [24]:
# write data to pickle file
with open('data/all_data_desk_nohole.pkl', 'wb') as fp:
    pickle.dump(df3, fp)

## Combine new_desk and news_desk 
For a time the NY Times changed the name of the news_desk to new_desk.  Sigh!!

In [10]:
# read data from pickle file
with open ('data/all_data_desk.pkl', 'rb') as fp:
    df = pickle.load(fp)
    
df.shape

(281288, 4)

In [15]:
# check to see that all months in 2018 are represented
df['date'][df['date'].apply(lambda x: x.year) == 2018].apply(lambda x: x.month).unique()

array([ 6,  7,  8,  9, 10, 11])

In [23]:
# check to see that all months in 2018 are represented
df3['date'][df3['date'].apply(lambda x: x.year) == 2017].apply(lambda x: x.month).unique()

array([ 2,  8,  9, 10, 11, 12,  1,  3,  4,  5,  6,  7])

In [21]:
df3.dropna(subset=['news_desk'],inplace=True)

#df.dropna(inplace=True)

In [9]:
df1 = df.copy()

In [20]:
df3 = pd.concat([df1,df])